.container {
	max-width: 1050px;
	margin: auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex a {
	flex-basis: 200px;
	margin-bottom: 3em;
	text-align: center;
	padding: 0 10px;
}

h3::first-letter {
  text-transform: uppercase;
}

#search-results {
	padding-bottom: 20px;
	font-style: italic;
}

.search-box, #search-results {
	text-align: center;
}

	.search-box input {
		margin: 1em 0 2em;
		border-radius: .25em;
		padding: .5em;
	}

@media (min-width: 1024px) {

	.flex a {
		transition: all .8s;
	}
	
	.flex a:hover {
		transform: scale(1.1, 1.1);
	}

}